#database
*.ldf
*.mdf

#debug, build
src/FileIntegrityMonitor/.vs
src/FileIntegrityMonitor/FileIntegrityMonitor/bin
src/FileIntegrityMonitor/FileIntegrityMonitor/obj
src/FileIntegrityMonitor/FileIntegrityMoniror.Console/bin
src/FileIntegrityMonitor/FileIntegrityMoniror.Console/obj
src/FileIntegrityMonitor/FileIntegrityMonitor.Console/bin
src/FileIntegrityMonitor/FileIntegrityMonitor.Console/obj
src/FileIntegrityMonitor/FileIntegrityMonitor.UI/bin
src/FileIntegrityMonitor/FileIntegrityMonitor.UI/obj